.question-container {
  border: 1px solid black;

  padding: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  display: flex;
}

.question {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-text {
  display: inline;
  margin-right: 10px;
}
.Réponse-button {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.Réponse-button:hover {
  background-color: black;
  color: white;
}

.Réponse-button.selected {
  background-color: black;
  color: white;
}
